body {
    display: grid;
    background-color: rgb(18, 19, 25);
    grid-template-rows: 60px 1200px 80px;
    grid-template-columns: auto;
    margin: 0px;
    padding: 0px;
    grid-template-areas:
    "nav nav"
    "aside main"
    "footer footer";
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
}

nav{
    grid-area: nav;
    background-color: rgba(15, 14, 14, 0.938);
}

nav > ul   {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 20px;
}

nav li{
    list-style-type: none;
    text-align: center;
}

nav a{
    text-decoration: none;
}

main {
    grid-area: main;
}

aside{
    grid-area: aside;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;¨
    background-color: rgba(15, 14, 14, 0.938);
}

footer{
    grid-area: footer;
    color: white;
    background-color: rgba(15, 14, 14, 0.938);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.csgohit{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(136, 135, 135);
    grid-area: nav;
    text-decoration: none;
    margin:0px;
}

.games{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(136, 135, 135);
    text-decoration: none;
}

.affiliates{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(136, 135, 135);
    text-decoration: none;
}

.withdraw{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(136, 135, 135);
    text-decoration: none;
}

.rewards{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(136, 135, 135);
    text-decoration: none;
}

.deposit{
    background-color: rgb(76, 197, 76);
    font-family:;
    font-size: 18px;
    text-align: center;
    color: rgb(243, 243, 243);
    padding: 15px;
    border-radius: 14px;
    border-top: 10px;
    text-decoration: none;
}

.profile{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(136, 135, 135);
    text-decoration: none;
}

img{
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 25px;
}