body {
    display: grid;
    background-color: lightgrey;
    grid-template-rows:20% 10% 60% 10%;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer"
}

h1 {
    text-align: center;
    font-size: xx-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

header{
    grid-area:header;
}

nav {
    grid-area: nav;
    background-color:grey;
}

nav > ul   {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:0;
    margin: 0;
}

nav li{
    list-style-type: none;
    text-align: center;
    font-size: 2em;
}

nav a{
    text-decoration: none;
}

main {
    grid-area: main;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
    background-color: grey;
    
}

img{
    width: 100%;
}